.scope-fields {
    width: 35%;
    height: 50%;
    border: 1px solid black;
    display: inline-block;
}

.survey-fields {
    width: 65%;
    height: 50%;
    display: inline-block;
    border: 1px solid black;
    border-left: none;
}

.class {
    display: flex;
}